body
{
    height: 98vh;
    width: 99vw;
    overflow: hidden;
}
.background{
    width: 430px;
    height: 320px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
.form-container{
    height: 320px;
    width: 300px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 48%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px;
}
.form-container{
    font-family: Gill Sans MT;
    color: Black;
    font-weight: bolder;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.input
{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 20px;
    padding-left: 15px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    margin-left: -10px;
    border: 2px solid black;
}

.input::placeholder{
    color: black;
}

.loginBtn{
    margin-top: 50px;
    width: 100%;
        background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    color: white;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}